
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<style>
    .form-group {
    margin-bottom: 0.5rem;
}
</style>
<partial name="_AddTopMenuPartialView" />


<div class="panel-body">
    <table id="example1" class="table table-condensed table-hover table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending"></th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Talep No</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Kayıt Zamanı</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Kategori</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Talep Sahibi Adı Soyadı</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Sistem Açıklaması</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Açıklama</th>
            </tr>
        </thead>
        <tbody>
            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                <td><button class="btn btn-default btn-xs"><span class="fa fa-eye"></span></button></td>
                <td>Carlos</td>
                <td>Mathias</td>
                <td>Leme</td>
                <td>SP</td>
                <td>new</td>
                <td>new</td>
            </tr>
            <tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="demo1">
                        <table class="table table-striped">
                            <thead>
                                <tr class="info">
                                    <th>Job</th>
                                    <th>Company</th>
                                    <th>Salary</th>
                                    <th>Date On</th>
                                    <th>Date off</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                    <td>Enginner Software</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Scrum Master</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Back-end</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Front-end</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                <td><button class="btn btn-default btn-xs"><span class="fa fa-eye"></span></button></td>
                <td>Silvio</td>
                <td>Santos</td>
                <td>São Paulo</td>
                <td>SP</td>
                <td>new</td>
                <td>new</td>
            </tr>
            <tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="demo2">
                        <table class="table table-striped">
                            <thead>
                                <tr class="info">
                                    <th>Job</th>
                                    <th>Company</th>
                                    <th>Salary</th>
                                    <th>Date On</th>
                                    <th>Date off</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                    <td>Enginner Software</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Scrum Master</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Back-end</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Front-end</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
                <td><button class="btn btn-default btn-xs"><span class="fa fa-eye"></span></button></td>
                <td>John</td>
                <td>Doe</td>
                <td>Dracena</td>
                <td>SP</td>
                <td>New</td>
                <td>New</td>
            </tr>
            <tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="demo3">
                        <table class="table table-striped">
                            <thead>
                                <tr class="info">
                                    <th>Job</th>
                                    <th>Company</th>
                                    <th>Salary</th>
                                    <th>Date On</th>
                                    <th>Date off</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                    <td>Enginner Software</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Scrum Master</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Back-end</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                                <tr>
                                    <td>Front-end</td>
                                    <td>Google</td>
                                    <td>U$8.00000 </td>
                                    <td> 2016/09/27</td>
                                    <td> 2017/09/27</td>
                                    <td> 2017/09/27</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
    </table>
</div>


<div class="row">
    <a href="#" id="Process" class="btn btn-info btn-xs" tabindex="0" aria-controls="example1" type="button" data-toggle="modal" data-target=".bd-example2-modal-lg" style="margin-left:30px; margin-top:20px;">İşlem Yap</a>
</div>

<div class="modal fade bd-example2-modal-lg" id="Request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ürün Talebi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Şirket: </label>
                        <label for="message-text" class="col-form-label" style="margin-left:540px;">Talep No</label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Bina: </label>
                        <label for="message-text" class="col-form-label" style="margin-left:550px;">Kategori</label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Departman: </label>
                        <label for="message-text" class="col-form-label" style="margin-left:500px;">Malzeme</label>

                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Servis: </label>
                        <label for="message-text" class="col-form-label" style="margin-left:540px;">Min./Max. Talep Miktar</label>
                    </div>
                    <div class="form-group">
                        <button id="Request" type="button" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold;">Bu malzeme ile ilgili diğer talepler</button>
                        <label for="message-text" class="col-form-label" style="margin-left:310px;">Birim Fiyat</label>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Ait Olduğu Proje </label>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Miktar: </label>
                        <input type="text" name="Amount" style="width:100px; margin-left:95px;" /> ,
                        <input type="text" name="AmountComma" style="width:100px;" />
                        <input type="text" name="AmountUnit" style="width:75px; background-color:orange; color:white;" disabled="disabled" value="ADET" />
                        <label for="message-text" class="col-form-label" style="margin-left:50px;">Eklenmiş Dosyalar </label>
                    </div>
                    @*<div class="form-group">
                            <label for="message-text" class="col-form-label" style="margin-left:5px;">Tahmini Birim Fiyat: </label>
                            <input type="text" name="Amount" style="width:100px;" /> ,
                            <input type="text" name="AmountComma" style="width:100px;" />
                            <select name="Price" id="Price" style="width:75px" ; for="Regions">
                                <option value="TL">TL</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label" style="margin-left:5px;">Kullanım Süresi: </label>
                            <input type="text" name="UsedTime" style="width:100px;  margin-left:45px;" value="" />
                            <select name="Period" id="Period" style="width:75px" ; for="Regions">
                                <option value="TL">YILLIK</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label" style="margin-left:5px;">Kullanım Başlangıç <br /> Zamanı: </label>
                            <input type="date" name="StartDate" style="width:200px; margin-left:5px;" />
                        </div>*@
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Açıklama </label><br />
                        <textarea class="form-control" id="Description" name="Description" style="width:450px; height:50px; margin-left:5px;" required></textarea>

                    </div>
                    <hr />
                    <div class="form-group">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Kategori</th>
                                    <th>Malzeme Adı</th>
                                    <th>Miktar</th>
                                    <th>Birim</th>
                                    <th>Tahmini Birim Fiyatı</th>
                                    <th>Para Birimi</th>
                                    <th>Tahmini Toplam Fiyat</th>
                                    <th>Açıklama</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" class="form-check-input" style="width:45px; height:15px;" /></td>
                                    <td>a</td>
                                    <td>b</td>
                                    <td>c</td>
                                    <td>d</td>
                                    <td>e</td>
                                    <td>f</td>
                                    <td>g</td>
                                    <td>h</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Görüşleriniz</label><br />
                        <textarea class="form-control" id="Opinion" name="Opinion" style="width:1100px; height:50px; margin-left:5px;"></textarea>
                    </div>
                    <hr />
                    <div class="form-group">
                        <button id="Approval" type="button" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; color:white; width:150px;">Onay</button>
                        <button id="Refuse" type="button" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; color: white; width: 150px;">Red</button>
                        <button id="Giveup" type="button" class="btn btn-warning" style="background-color: orange; font-weight: bold; color: white; width: 150px;">Vazgeç</button>
                        <button id="Direct" type="button" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; color: white; width: 150px;">Yönlendir</button>
                        <button id="SendToCheck" type="button" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; color: white; width: 160px;">Kontrole Gönder</button>
                        <button id="Cancel" type="button" class="btn btn-danger" style="font-weight: bold; color: white; width: 160px;">Talebi İptal Et</button>
                        <button id="Change" type="button" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; color: white; width: 150px;">Değiştir</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<ul id="liste" style="display:none;" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                AVANSLAR
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                DİĞER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                FİNANSAL HİZMETLER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                HAYVANCILIK
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                HİZMETLER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                İNSAN KAYNAKLARI
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" onclick="Gizle();">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color: cornflowerblue;">
                MALZEME/EMTİA/DEMİRBAŞ
            </p>
        </a>
        <ul class="nav nav-treeview" id="altListe">
            <li class="nav-item">
                <button class="btn btn-link buttons-copy buttons-html5 nav-link" tabindex="0" aria-controls="example1" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <i class="far fa-file-archive nav-icon text-black"></i>
                    <p class="intime-text-turquoise" style="color:black;">MALZEME/EMTİA DEMİRBAŞ TALEBİ</p>
                </button>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                MASRAFLAR
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL DEPARTMANI ÖDEMELERİ
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL İZİN
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL ÖDEMELERİ
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                SEYAHAT TALEP FORMU
            </p>
        </a>
    </li>
</ul>

<div class="modal fade bd-example-modal-lg" id="Request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ürün Talebi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {

                <div class="modal-body">
                    <div class="form-group required">
                        <label for="message-text" class="col-form-label" required="required">Şirket</label>
                        <select style="width:400px;display:inline-block; margin-left:10px;" class="form-control" id="Companies" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:30px;">Departman</label>
                        <select style="width: 400px; display: inline-block; margin-left: 10px;"  class="form-control" id="Department" for="Regions">
                        </select>
                    </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Bina</label>
                    <select style="width: 400px; display: inline-block; margin-left: 20px;" class="form-control"  id="Location" for="Regions">
                    </select>
                    <label for="message-text" class="col-form-label" style="margin-left:70px;">Servis</label>
                    <select style="width: 400px; display: inline-block; margin-left: 10px;" class="form-control" id="Service" for="Regions">
                    </select>
                </div>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <button id="Choose" type="submit" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; margin-top:10px;">Seç</button>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Kategori</label>
                        <label for="message-text" class="col-form-label" style="margin-left:550px;">Talep Gün Aralığı</label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Malzeme</label>
                        <label for="message-text" class="col-form-label" style="margin-left:550px;">Birim Fiyat</label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Min./Max. Talep Miktar</label>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Miktar: </label>
                        <input type="text" name="Amount" style="width:100px; margin-left:95px;" /> ,
                        <input type="text" name="AmountComma" style="width:100px;" />
                        <input type="text" name="AmountUnit" style="width:75px; background-color:orange; color:white;" disabled="disabled" value="ADET" />
                        <label for="message-text" class="col-form-label" style="margin-left:45px;">Dosya Ekle </label><br />
                        <input type="text" name="ChooseFile" style="width:230px; margin-left:500px;" />
                        <input type="file" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Açıklama </label><br />
                        <textarea class="form-control" id="Description" name="Description" style="width:450px; height:50px; margin-left:5px;" required></textarea>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="form-group">
                        <button id="Add" type="submit" class="btn btn-primary" style="background-color: #17a2b8; font-weight:bold;">Listeye Ekle</button>
                        <button id="Edit" type="button" class="btn btn-primary" style="background-color: #17a2b8; font-weight:bold; margin-left: 900px;">Düzenle</button>
                        <br /><br />
                        <table class="table table-hover table-striped table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Malzeme/Emtia/Demirbaş Adı</th>
                                    <th>Miktar</th>
                                    <th>Birim</th>
                                    <th>Tahmini Birim Fiyatı</th>
                                    <th>Para Birimi</th>
                                    <th>Tahmini Toplam</th>
                                    <th>Kullanım Süresi</th>
                                    <th>Periyot</th>
                                    <th>Kategori</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button class="btn btn-outline-light"><i class="fa fa-times text-red"></i></button></td>
                                    <td>a</td>
                                    <td>b</td>
                                    <td>c</td>
                                    <td>d</td>
                                    <td>e</td>
                                    <td>f</td>
                                    <td>g</td>
                                    <td>h</td>
                                    <td>u</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="complete" type="submit" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold;">Tamam</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" style="background-color: orange; color: white; font-weight: bold; margin-right: 475px;">Vazgeç</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/TalepWeb/plugins/jquery/jquery.min.js"></script>


<script>
    function Goster(id) {
        var secilenID = document.getElementById(id);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
            $('#example1').hide();
            $('#example1_wrapper').hide();
            $('#Process').hide();
        } else {
            secilenID.style.display = "none";
        }
    }

    function Gizle() {
        $("#altListe").hide();
    }
</script>

<script>
    //dropdownları doldurma
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Request/GetCompany",
            dataType: "json",
            success: function (response) {
                $("#Companies").empty().append('<option value="0"> Şirket Seçiniz </option>');
                for (let company of response) {
                    $("#Companies").append('<option value="' + company.SiraNo + '"> ' + company.Tanimi + ' </option>');
                }
            },
        });

        $('#Department').change(function () {
            let SiraNo = $('#Department option:selected').val();
            $.ajax({
                type: "POST",
                url: "../Request/GetService",
                data: { SiraNo: SiraNo },
                dataType: "json",
                success: function (response) {
                    $("#Service").removeAttr('disabled');
                    $("#Service").empty().append('<option value="0"> Servis Seçiniz </option>');

                    for (let service of response) {
                        $("#Service").append('<option value="' + service.SiraNo + '"> ' + service.Tanimi + ' </option>');
                    }
                },
            });
        });

        $('#Companies').change(function () {
            let SiraNo = $('#Companies option:selected').val();
            $.ajax({
                type: "POST",
                url: "../Request/GetDepartment",
                data: { SiraNo: SiraNo },
                dataType: "json",
                success: function (response) {
                    $("#Department").removeAttr('disabled');
                    $("#Department").empty().append('<option value="0"> Departman Seçiniz </option>');

                    for (let department of response) {
                        $("#Department").append('<option value="' + department.SiraNo + '"> ' + department.Tanimi + ' </option>');
                    }
                },
            });
        });

        $('#Companies').change(function () {
            let SiraNo = $('#Companies option:selected').val();
            $.ajax({
                type: "POST",
                url: "../Request/GetLocation",
                data: { SiraNo: SiraNo },
                dataType: "json",
                success: function (response) {
                    $("#Location").removeAttr('disabled');
                    $("#Location").empty().append('<option value="0"> Lokasyon Seçiniz </option>');

                    for (let location of response) {
                        $("#Location").append('<option value="' + location.SiraNo + '"> ' + location.Tanimi + ' </option>');
                    }
                },
            });
        });
    });
</script>

