@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@*@model IEnumerable<Common.Models.Response.ResponseTaleplerIslemListesiDto>*@
@model Common.Models.Response.ResponseKullanicilarListesiDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<style>
    .form-group {
        margin-bottom: 0.5rem;
    }
</style>

<div class="row col-lg-12">
    <a href="#" id="NewRequest" class="btn btn-info btn-xs" tabindex="0" aria-controls="example1" type="button" data-toggle="modal" data-target=".bd-talep-modal-lg" style="margin-left:1120px;">Yeni Talep</a>
</div>


<div class="panel-body" style="margin-top:5px;">
    <table id="example" class="table table-bordered table-striped dataTable dtr-inline display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Talep No</th>
                <th>Talep Sahibi</th>
                <th>Ürün</th>
                <th>Miktar</th>
                <th>Birim</th>
                <th>Birim Fiyat</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<partial name="_ProcessModalPartialView" />

<partial name="_PriceModalPartialView" />

<partial name="_CommentModalPartialView" />

<partial name="_ApproveRejectModalPartialView" />

<partial name="_EditModalPartialView" />

<partial name="_RequestModalPartialView" />


<script src="~/TalepWeb/plugins/jquery/jquery.min.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltTipDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemTipDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepTipDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltUrunDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepUrunDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltParaBirimDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemParaBirimDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepParaBirimDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltBirimDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepBirimDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Islem/IslemTedarikciDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltTalepDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemTalepDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepTalepDropdown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemKontrolYonlendirTalepDropDown.js"></script>

<script src="~/js/AddListFunctions/Talep/TalepAddFileFunc.js"></script>
<script src="~/js/AddListFunctions/Talep/TalepAddProductFunc.js"></script>

<script src="~/js/AddListFunctions/Duzelt/DuzeltAddFileFunc.js"></script>

<script src="~/js/DeleteListExtensions/DeleteFromTable.js"></script>


<script src="~/js/Calculate/CalculateTalep.js"></script>
<script src="~/js/Calculate/CalculateDuzelt.js"></script>

<script>
    function Alert(d) {
        $('#example').DataTable({
            ajax: {
                url: "/Request/GetRequestPeriodList",
                dataSrc: ""
            },
            columns: [
                { "data": 'islemZamani' },
                { "data": 'islemYapanAdi' },
                { "data": 'yapilanIslem' },
                { "data": 'aciklama' }
            ],
            "bDestroy": true,
        })
    }

    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<thead style="background-color:burlywood; color:white;">' +
            '<tr class="info">' +
            '<th style="width:300px;">Zaman</th>' +
            '<th style="width:300px;">İşlem Yapan</th>' +
            '<th style="width:300px;">Yapılan İşlem</th>' +
            '<th style="width:700px;">Açıklama/Yorum</th>' +
            '</tr>' +
            '</thead>' +
            '<tr>' +
            '<td>' + d.islemZamani + '</td>' +
            '<td>' + d.islemYapanAdi + '</td>' +
            '<td>' + d.yapilanIslem + '</td>' +
            '<td>' + d.Aciklama + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' + d.islemZamani + '</td>' +
            '<td>' + d.islemYapanAdi + '</td>' +
            '<td>' + d.yapilanIslem + '</td>' +
            '<td>' + d.Aciklama + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' + d.islemZamani + '</td>' +
            '<td>' + d.islemYapanAdi + '</td>' +
            '<td>' + d.yapilanIslem + '</td>' +
            '<td>' + d.Aciklama + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' + d.islemZamani + '</td>' +
            '<td>' + d.islemYapanAdi + '</td>' +
            '<td>' + d.yapilanIslem + '</td>' +
            '<td>' + d.Aciklama + '</td>' +
            '</tr>' +
            '</table>';
    }


    $(document).ready(function () {
        var table = $('#example').DataTable({
            ajax: {
                url: "/Request/GetRequestProcessList",
                dataSrc: ""
            },
            columns: [
                {
                    'className': 'details-control',
                    'orderable': false,
                    'data': null,
                    "render": function (data, type, row) {
                         let url = '@Url.Action("GetRequestPeriodList", "Request")/' + row.talepSiraNo;
                         let url2 = '@Url.Action("UpdateRequest", "Request")/' + row.talepSiraNo;
                        return '<a id="Process" onclick="IslemModalShow(' + row.talepSiraNo + ')" class="btn btn-primary btn-xs" style="color:white;">İşlem</a>' +
                            "<a class='btn btn-default btn-xs' id='Period' onclick=''SurecGorShow(" + row.talepSiraNo + ")' style='color:white; background-color:burlywood;'>Süreç Gör</a> " +

                            "<a id='Edit' onclick='DuzeltModalShow(" + row.talepSiraNo + ")' class='btn btn-success btn-xs'> Düzelt</a> ";
},
                    'defaultContent': ''
                },
                { "data": 'talepSiraNo' },
                { "data": 'talepSahibiAdi' },
                { "data": 'urunTanimi' },
                { "data": 'miktar' },
                { "data": 'miktarBirim' },
                { "data": 'birimFiyat' }
            ],
            'order': [[1, 'asc']],
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "language": {
                "emptyTable": "Gösterilecek ver yok.",
                "processing": "Veriler yükleniyor",
                "sDecimal": ".",
                "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                "sLoadingRecords": "Yükleniyor...",
                "sSearch": "Ara:",
                "sZeroRecords": "Eşleşen kayıt bulunamadı",
                "oPaginate": {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                "oAria": {
                    "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                    "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                },
                "select": {
                    "rows": {
                        "_": "%d kayıt seçildi",
                        "0": "",
                        "1": "1 kayıt seçildi"
                    }
                }
            }
        });

        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        })
    });



    function DuzeltModalShow(id) {
        $('#EditModal').modal('show');
    }

    function IslemModalShow(id) {
        $('#ProcessModal').modal('show');
    }

    function SurecGorShow(id) {
        //console.log("dsad")
    }



</script>
