@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@*@model IEnumerable<Common.Models.Response.ResponseTaleplerIslemListesiDto>*@
@model Common.Models.Response.ResponseKullanicilarListesiDto 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<style>
    .form-group {
        margin-bottom: 0.5rem;
    }
</style>
<partial name="_AddTopMenuPartialView" />

<partial name="_AddNewRequestPage" />

<div class="row col-lg-12">
    <a href="#" id="NewRequest" class="btn btn-info btn-xs" tabindex="0" aria-controls="example1" type="button" data-toggle="modal" data-target=".bd-talep-modal-lg" style="margin-left:1120px;">Yeni Talep</a>
</div>

<div class="panel-body" style="margin-top:5px;">
    <table id="example" class="table table-bordered table-striped dataTable dtr-inline display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Talep No</th>
                <th>Talep Sahibi</th>
                <th>Ürün</th>
                <th>Miktar</th>
                <th>Birim</th>
                <th>Birim Fiyat</th>
            </tr>
        </thead>
        <tbody id="ProcessTable">
        </tbody>
    </table>
    @*<table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Talep No</th>
                    <th>Talep Sahibi</th>
                    <th>Ürün</th>
                    <th>Miktar</th>
                    <th>Birim</th>
                    <th>Birim Fiyat</th>
                </tr>
            </thead>
        </table>*@
</div>


<div class="modal fade bd-islem-modal-lg" id="Process" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Talep İşlemi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("", "Request", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Talep Sahibi</label>
                        <select style="width:300px;display:inline-block; margin-left:43px;" class="form-control" id="RequestIslem">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Şirket</label>
                        <select style="width:300px;display:inline-block; margin-left:90px;" class="form-control" id="CompaniesIslem"></select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Departman</label>
                        <select style="width: 300px; display: inline-block; margin-left: 20px;" class="form-control" id="DepartmentIslem"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Lokasyon</label>
                        <select style="width: 300px; display: inline-block; margin-left:62px;" class="form-control" id="LocationIslem"></select>
                        <label for="message-text" class="col-form-label" style="margin-left:145px;">Servis</label>
                        <select style="width: 300px; display: inline-block; margin-left:55px;" class="form-control" id="ServiceIslem"></select>
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Masraf Merkezi</label>
                        <select style="width:300px;display:inline-block; margin-left:20px;" class="form-control" id="CostIslem"></select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Tipi</label>
                        <select style="width: 300px; display: inline-block; margin-left: 75px;" class="form-control" id="TypeIslem"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Proje</label>
                        <select style="width: 300px; display: inline-block; margin-left:98px;" class="form-control" id="ProjectIslem"></select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Teslim Yeri</label>
                        <input type="text" name="Delivery" class="form-control-sm" style="width: 300px; margin-left:25px;" />
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <table id="table2" class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th></th>
                                    <th style="width:150px;">Ürün</th>
                                    <th>Miktar</th>
                                    <th>Birim</th>
                                    <th>Birim Fiyat</th>
                                    <th style="width:50px;">Para Birimi</th>
                                    <th>Toplam Fiyat</th>
                                    <th>Tedarikçi</th>
                                    <th>Hedef Teslim Tarihi</th>
                                    <th>Açıklama</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button id="Price" type="button" class="btn btn-success btn-xs" tabindex="0" aria-controls="example1" data-toggle="modal" data-target=".bd-fiyat-modal-lg" style="color:white; width:100px;">Fiyat Gir</button></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Bağlı Olan Diğer Talepler</label>
                        <table id="table0" class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th></th>
                                    <th style="width:175px;">Ürün</th>
                                    <th>Miktar</th>
                                    <th>Birim</th>
                                    <th>Birim Fiyat</th>
                                    <th style="width:50px;">Para Birimi</th>
                                    <th>Toplam Fiyat</th>
                                    <th>Tedarikçi</th>
                                    <th>Hedef Teslim Tarihi</th>
                                    <th>Açıklama</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" class="form-control-lg" style="width:20px;" id="chkOtherRequest" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @*<div class="modal-body">*@
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Eklenmiş Dosyalar</label>
                        <table class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th></th>
                                    <th style="width:500px;">Dosya</th>
                                    <th style="width:500px;">Dosya Tanımı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button id="AddedFile" class="btn btn-success btn-xs" tabindex="0" aria-controls="example1" style=" width:75px;">Gör</button></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @*</div>*@
                    <hr style="border-width:2.5px; color:darkgray;" />
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Talep Süreci</label><br />
                        <table class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th style="width:500px;">Zaman</th>
                                    <th style="width:200px;">İşlem Yapan</th>
                                    <th style="width:200px;">Yapılan İşlem</th>
                                    <th style="width:200px;">Açıklama/Yorum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button id="Giveup" type="button" class="btn btn-danger" data-dismiss="modal" style="font-weight: bold; color: white; width: 120px; margin-right:400px;">Vazgeç</button>
                            <button id="Approval" type="button" class="btn btn-success" tabindex="0" aria-controls="example1" data-toggle="modal" data-target=".bd-onayred-modal-lg" style="font-weight: bold; color:white; width:120px" ;>Onayla</button>
                            <button id="Refuse" type="button" class="btn btn-danger" tabindex="0" aria-controls="example1" data-toggle="modal" data-target=".bd-onayred-modal-lg" style="font-weight: bold; color: white; width: 120px;">Reddet</button>
                            <button id="SendToCheck" type="button" class="btn btn-default" tabindex="0" aria-controls="example1" data-toggle="modal" data-target=".bd-yorum-modal-lg" style="background-color:saddlebrown; font-weight: bold; color: white; width: 160px;">Kontrole Gönder</button>
                            <button id="Direct" type="button" class="btn btn-default" tabindex="0" aria-controls="example1" data-toggle="modal" data-target=".bd-yorum-modal-lg" style="background-color: saddlebrown; font-weight: bold; color: white; width: 120px; ">Yönlendir</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade bd-fiyat-modal-lg" id="Price" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Birim Fiyat</label>
                        <input type="number" name="UnitPrice" class="form-control-sm" style="width: 300px; margin-left:85px;" />
                        <select style="width:150px;display:inline-block; margin-left:10px;" class="form-control" id="CurrencyIslem"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Toplam Fiyat</label>
                        <input type="text" name="TotalPrice" class="form-control-sm" style="width: 300px; margin-left:70px;" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tedarikçi</label>
                        <select style="width:460px; display: inline-block; margin-left:100px;" class="form-control" id="SupplierIslem"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Hedef Teslim Tarihi</label>
                        <input type="date" name="DeliveryDate" class="form-control-sm" style="width: 300px; margin-left:25px;" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="color: white; font-weight: bold; margin-right:380px;">Vazgeç</button>
                        <button id="Send" type="submit" class="btn btn-success" style="color:white; font-weight: bold; margin-right:475px;">Kaydet</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade bd-yorum-modal-lg" id="Comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">İşlem Yapacak</label>
                        <select style="width:450px;display:inline-block; margin-left:10px;" class="form-control" id="ProcessorIslem"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Yorumunuz</label>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-lg" name="Comment" id="Comment" style="width:570px; height:50px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="color: white; font-weight: bold; margin-right:380px;">Vazgeç</button>
                        <button id="Send" type="submit" class="btn btn-success" style="color:white; font-weight: bold; margin-right:535px;">Tamam</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade bd-onayred-modal-lg" id="ApproveReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Yorumunuz</label>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-lg" name="Comment" id="Comment" style="width:570px; height:50px;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="color: white; font-weight: bold; margin-right:380px;">Vazgeç</button>
                        <button id="Send" type="submit" class="btn btn-success" style="color:white; font-weight: bold; margin-right:535px;">Tamam</button>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade bd-duzelt-modal-lg" id="Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Talep Düzelt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("UpdateRequest", "Request", FormMethod.Post))
            {

                <input type="hidden" name="KaydiYapan" value="99999999999" />
                //TODO - VAlue değeri tablodan gelicek
                <input type="hidden" name="SiraNo" value="2040" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Talep Sahibi</label>
                        <select style="width:300px;display:inline-block; margin-left:43px;" name="SahibiKodu" class="form-control" id="RequestDuzelt">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Şirket</label>
                        <select style="width:300px;display:inline-block; margin-left:90px;" class="form-control" id="CompaniesDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Departman</label>
                        <select style="width: 300px; display: inline-block; margin-left: 20px;" class="form-control" id="DepartmentDuzelt">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Lokasyon</label>
                        <select style="width: 300px; display: inline-block; margin-left:62px;" name="LokasyonSiraNo" class="form-control" id="LocationDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:145px;">Servis</label>
                        <select style="width: 300px; display: inline-block; margin-left:55px;" name="ServisSiraNo" class="form-control" id="ServiceDuzelt">
                        </select>
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Masraf Merkezi</label>
                        <select style="width:300px;display:inline-block; margin-left:20px;" name="MasrafMerkeziSiraNo" class="form-control" id="CostDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Tipi</label>
                        <select style="width: 300px; display: inline-block; margin-left: 75px;" name="TipSiraNo" class="form-control" id="TypeDuzelt">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Projesi</label>
                        <select style="width: 300px; display: inline-block; margin-left:85px;" name="ProjeSiraNo" class="form-control" id="ProjectDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Teslim Yeri</label>
                        <input type="text" name="TeslimYeri" class="form-control-sm" style="width: 300px; margin-left:25px;" />
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ürün</label>
                        <select style="width: 400px; display: inline-block; margin-left:95px;" name="UrunKodu" class="form-control" id="ProductDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:45px;">Miktar </label>
                        <input type="number" class="form-control-sm" id="Amount" name="Miktar" style="width:140px; margin-left:55px;" onkeyup="Calculate()" /> ,
                        <select style="width: 140px; display: inline-block; margin-left:5px;" class="form-control" name="MiktarBirim" id="AmountDuzelt">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Birim Fiyat </label>
                        <input type="number" class="form-control-sm" id="UnitPrice" name="BirimFiyat" style="width:150px; margin-left:50px;" onkeyup="Calculate()" />
                        <select style="width: 150px; display: inline-block; margin-left:5px;" name="ParaBirimi" class="form-control" id="CurrencyDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:135px;">Toplam Fiyat</label>
                        <input type="number" class="form-control-sm" id="TotalPrice" name="ToplamFiyat" style="width:140px; margin-left:12px;" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Açıklama</label>
                        <input type="text" class="form-control-sm" id="Description" name="Aciklama" style="width:860px; margin-left:63px;" />
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                
                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" id="FileName" value="Dosya Seç" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Dosya Tanımı</label>
                        <input type="text" class="form-control-sm" id="FileDescription" name="FileDescription" style="width:805px; margin-left:25px;" value="" />
                        <a id="AddList" onclick="DuzeltAddFileFunc()" class="btn btn-primary" style="background-color: #17a2b8; color:white; font-weight: bold; margin-left:15px; width:150px; height:36px;">Listeye Ekle</a>

                    </div>
                    <div class="form-group">
                        <table id="FileList" class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th style="width:30px;"></th>
                                    <th style="width:530px;">Dosya</th>
                                    <th style="width:530px;">Dosya Tanımı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Talep Süreci</label>
                        <table class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th style="width:200px;">Zaman</th>
                                    <th style="width:200px;">İşlem Yapan</th>
                                    <th style="width:200px;">Yapılan İşlem</th>
                                    <th style="width:500px;">Açıklama/Yorum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="color: white; font-weight: bold; margin-right:880px;">Vazgeç</button>
                    <button id="Edit" type="submit" class="btn btn-success" style="color:white; font-weight: bold; margin-right:30px;">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade bd-talep-modal-lg" id="Request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Talep</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {
                <input type="hidden" name="KaydiYapan" value="26776912606" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Talep Sahibi</label>
                        <select style="width:300px; display:inline-block; margin-left:43px;" class="form-control" name="SahibiKodu" id="RequestTalep">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Şirket</label>
                        <select style="width:300px;display:inline-block; margin-left:90px;" class="form-control" id="CompaniesTalep">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Departman</label>
                        <select style="width: 300px; display: inline-block; margin-left: 20px;" class="form-control" id="DepartmentTalep">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Lokasyon</label>
                        <select style="width: 300px; display: inline-block; margin-left:62px;" name="LokasyonSiraNo" class="form-control" id="LocationTalep">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:145px;">Servis</label>
                        <select style="width: 300px; display: inline-block; margin-left:55px;" name="ServisSiraNo" class="form-control" id="ServiceTalep">
                        </select>
                    </div>
                </div>
                <hr style="border-width:3.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Masraf Merkezi</label>
                        <select style="width:300px;display:inline-block; margin-left:20px;" name="MasrafMerkeziSiraNo" class="form-control" id="CostTalep">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Tipi</label>
                        <select style="width: 300px; display: inline-block; margin-left:75px;" name="TipSiraNo" class="form-control" id="TypeTalep">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Projesi</label>
                        <select style="width: 300px; display: inline-block; margin-left:85px;" name="ProjeSiraNo" class="form-control" id="ProjectTalep">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Teslim Yeri</label>
                        <input type="text" id="txtTeslimYeri" name="TeslimYeri" class="form-control-sm" style="width: 300px; margin-left:25px;" />
                    </div>
                </div>
                <hr style="border-width:3.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ürün</label>
                        <select style="width: 400px; display: inline-block; margin-left:95px;" name="UrunKodu" class="form-control" id="ProductTalep">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:45px;">Miktar </label>
                        <input type="number" class="form-control-sm" id="Amount" name="Miktar" style="width:140px; margin-left:55px;" onkeyup="Calculate()" /> ,
                        <select style="width: 140px; display: inline-block; margin-left:5px;" name="MiktarBirim" class="form-control" id="AmountTalep">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Birim Fiyat </label>
                        <input type="number" class="form-control-sm" id="UnitPrice" name="BirimFiyat" style="width:150px; margin-left:50px;" onkeyup="Calculate()" />
                        <select style="width: 150px; display: inline-block; margin-left:5px;" name="ParaBirimi" class="form-control" id="CurrencyTalep">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:135px;">Toplam Fiyat </label>
                        <input type="number" class="form-control-sm" id="TotalPrice" name="ToplamFiyat" style="width:140px; margin-left:12px;" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Açıklama </label>
                        <input type="text" class="form-control-sm" id="Description" name="Aciklama" style="width:790px; margin-left:63px;" />
                        <a id="AddProduct" onclick="TalepAddProductFunc()" class="btn btn-primary" style="background-color: #17a2b8; color:white; font-weight: bold; margin-left:20px; width:150px; height:36px;">Listeye Ekle</a>
                    </div>
                </div>
                <hr style="border-width:3.5px; color:darkgray;" />
                
                <div class="modal-body">
                    <div class="form-group">
                        <table id="ProductList" class="table table-hover table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th style="width:30px;"></th>
                                    <th style="width:275px;">Ürün</th>
                                    <th style="width:75px;">Miktar</th>
                                    <th style="width:75px;">Birim</th>
                                    <th style="width:150px;">Birim Fiyat</th>
                                    <th style="width:50px;">P.B</th>
                                    <th style="width:150px;">Toplam Fiyat</th>
                                    <th style="width:275px;">Açıklama</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr style="border-width:3.5px; color:darkgray;" />
               
                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" id="File" class="file-selector-button" value="Dosya Seç" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Dosya Tanımı</label>
                        <input type="text" class="form-control-sm" id="FileDesc" name="FileDescription" style="width:805px; margin-left:25px;" value="" />
                        <a id="AddFile" onclick="TalepAddFileFunc()" class="btn btn-primary" style="background-color: #17a2b8; color: white; font-weight: bold; margin-left: 15px; width: 150px; height: 36px;">Listeye Ekle</a>
                    </div>
                    <div class="form-group">
                        <table id="FList" class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th style="width:30px;"></th>
                                    <th style="width:535px;">Dosya</th>
                                    <th style="width:535px;">Dosya Tanımı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr style="border-width:3.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Genel Açıklama</label>
                        <input type="text" class="form-control-sm" name="GenelAciklama" style="width:960px; margin-left:15px;" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="color: white; font-weight: bold; margin-right:880px;">Vazgeç</button>
                    <button id="Save" type="submit" class="btn btn-success" style="color:white; font-weight: bold; margin-right:30px;">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/TalepWeb/plugins/jquery/jquery.min.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltTipDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemTipDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepTipDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltUrunDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepUrunDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltParaBirimDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemParaBirimDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepParaBirimDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltBirimDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepBirimDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Islem/IslemTedarikciDropDown.js"></script>

<script src="~/js/DropDownFillFunc/Düzelt/DuzeltTalepDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemTalepDropDown.js"></script>
<script src="~/js/DropDownFillFunc/Talep/TalepTalepDropdown.js"></script>
<script src="~/js/DropDownFillFunc/Islem/IslemKontrolYonlendirTalepDropDown.js"></script>

<script src="~/js/AddListFunctions/Talep/TalepAddFileFunc.js"></script>
<script src="~/js/AddListFunctions/Talep/TalepAddProductFunc.js"></script>

<script src="~/js/AddListFunctions/Duzelt/DuzeltAddFileFunc.js"></script>

<script src="~/js/DeleteListExtensions/DeleteFromTable.js"></script>


<script>
    function Goster(id) {
        var secilenID = document.getElementById(id);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
            $('#example1').hide();
            $('#example1_wrapper').hide();
            $('#Process').hide();
        } else {
            secilenID.style.display = "none";
        }
    }

    function Gizle() {
        $("#altListe").hide();
    }

    function Calculate() {
        var a = document.getElementById('Amount').value;
        var b = document.getElementById('UnitPrice').value;
        var result = parseFloat(a) * parseFloat(b);
        if (!isNaN(result)) {
            document.getElementById('TotalPrice').value = result;
        }
    }

    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<thead style="background-color:burlywood; color:white;">' +
            '<tr class="info">' +
            '<th style="width:300px;">Zaman</th>' +
            '<th style="width:300px;">İşlem Yapan</th>' +
            '<th style="width:300px;">Yapılan İşlem</th>' +
            '<th style="width:700px;">Açıklama/Yorum</th>' +
            '</tr>' +
            '</thead>' +
            '<tr>' +
            '<td>' + d.islemZamani + '</td>' +
            '<td>' + d.islemYapanAdi + '</td>' +
            '<td>' + d.yapilanIslem + '</td>' +
            '<td>' + d.Aciklama + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' + d.islemZamani + '</td>' +
            '<td>' + d.islemYapanAdi + '</td>' +
            '<td>' + d.yapilanIslem + '</td>' +
            '<td>' + d.Aciklama + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' + d.islemZamani + '</td>' +
            '<td>' + d.islemYapanAdi + '</td>' +
            '<td>' + d.yapilanIslem + '</td>' +
            '<td>' + d.Aciklama + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>' + d.islemZamani + '</td>' +
            '<td>' + d.islemYapanAdi + '</td>' +
            '<td>' + d.yapilanIslem + '</td>' +
            '<td>' + d.Aciklama + '</td>' +
            '</tr>' +
            '</table>';
    }


    $(document).ready(function () {
        var table = $('#example').DataTable({
            ajax: {
                url: "/Request/GetRequestProcessList",
                dataSrc: ""
            },
            columns: [
                {
                    'className': 'details-control',
                    'orderable': false,
                    'data': null,
                     "render": function (data, type, row) {
                         let url = '@Url.Action("GetRequestPeriodList", "Request")/' + row.talepSiraNo;
                         let url2 = '@Url.Action("UpdateRequest", "Request")/' + row.talepSiraNo;
                         return '<a href="#" id="Process" class="btn btn-primary btn-xs" tabindex="0" aria-controls="example1" data-toggle="modal" data-target=".bd-islem-modal-lg" style="color:white;">İşlem</a>' + "<a href='" + url + "' class='btn btn-default btn-xs' id='Period' style='color:white; background-color:burlywood;'>Süreç Gör</a> " + "<a href='" + url2 + "' id = 'Edit' class='btn btn-success btn-xs' tabindex = '0' aria-controls='example1' data-toggle='modal' data-target='.bd-duzelt-modal-lg' style = 'color:white;'> Düzelt</a> ";
},
                    'defaultContent': ''
                },
                { "data": 'talepSiraNo' },
                { "data": 'talepSahibiAdi' },
                { "data": 'urunTanimi' },
                { "data": 'miktar' },
                { "data": 'miktarBirim' },
                { "data": 'birimFiyat' }
            ],
            'order': [[1, 'asc']],
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "language": {
                "emptyTable": "Gösterilecek ver yok.",
                "processing": "Veriler yükleniyor",
                "sDecimal": ".",
                "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                "sLoadingRecords": "Yükleniyor...",
                "sSearch": "Ara:",
                "sZeroRecords": "Eşleşen kayıt bulunamadı",
                "oPaginate": {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                "oAria": {
                    "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                    "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                },
                "select": {
                    "rows": {
                        "_": "%d kayıt seçildi",
                        "0": "",
                        "1": "1 kayıt seçildi"
                    }
                }
            }
        });

        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);



            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        })
    });
</script>
