<div class="col-lg-12">
    <ul class="navbar-nav embed-responsive">
        <li class="nav-item" style="margin-top:10px;">
            <a href="/Request/GetRequestProcessList" style="padding-right: 50px; margin-left: 25px;" class="btn btn-xs active">Onayımda Bekleyen Talepler</a>
        </li>
    </ul>
    <hr style="border-color:bisque" />
</div>
