<div class="dt-buttons btn-group flex-wrap d-flex justify-content-center">
    <button class="btn btn-info buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button" id="exportExcel">
        <span>Excel</span>
    </button>
</div>

