<div class="modal fade bd-duzelt-modal-lg" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Talep Düzelt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("UpdateRequest", "Request", FormMethod.Post))
            {

                <input type="hidden" name="KaydiYapan" value="99999999999" />
                //TODO - VAlue değeri tablodan gelicek
                <input type="hidden" name="SiraNo" value="" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Talep Sahibi</label>
                        <select style="width:300px;display:inline-block; margin-left:43px;" name="SahibiKodu" class="form-control" id="RequestDuzelt">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Şirket</label>
                        <select style="width:300px;display:inline-block; margin-left:90px;" class="form-control" id="CompaniesDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Departman</label>
                        <select style="width: 300px; display: inline-block; margin-left: 20px;" class="form-control" id="DepartmentDuzelt">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Lokasyon</label>
                        <select style="width: 300px; display: inline-block; margin-left:62px;" name="LokasyonSiraNo" class="form-control" id="LocationDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:145px;">Servis</label>
                        <select style="width: 300px; display: inline-block; margin-left:55px;" name="ServisSiraNo" class="form-control" id="ServiceDuzelt">
                        </select>
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Masraf Merkezi</label>
                        <select style="width:300px;display:inline-block; margin-left:20px;" name="MasrafMerkeziSiraNo" class="form-control" id="CostDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Tipi</label>
                        <select style="width: 300px; display: inline-block; margin-left: 75px;" name="TipSiraNo" class="form-control" id="TypeDuzelt">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Projesi</label>
                        <select style="width: 300px; display: inline-block; margin-left:85px;" name="ProjeSiraNo" class="form-control" id="ProjectDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Teslim Yeri</label>
                        <input type="text" name="TeslimYeri" class="form-control-sm" style="width: 300px; margin-left:25px;" />
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ürün</label>
                        <select style="width: 400px; display: inline-block; margin-left:95px;" name="UrunKodu" class="form-control" id="ProductDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:45px;">Miktar </label>
                        <input type="number" class="form-control-sm" id="AmountEdit" name="Miktar" style="width:140px; margin-left:55px;" onkeyup="CalculateDuzelt()" /> ,
                        <select style="width: 140px; display: inline-block; margin-left:5px;" class="form-control" name="MiktarBirim" id="AmountDuzelt">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Birim Fiyat </label>
                        <input type="number" class="form-control-sm" id="UnitPriceEdit" name="BirimFiyat" style="width:150px; margin-left:50px;" onkeyup="CalculateDuzelt()" />
                        <select style="width: 150px; display: inline-block; margin-left:5px;" name="ParaBirimi" class="form-control" id="CurrencyDuzelt">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:135px;">Toplam Fiyat</label>
                        <input type="number" class="form-control-sm" id="TotalPriceEdit" name="ToplamFiyat" style="width:140px; margin-left:12px;" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Açıklama</label>
                        <input type="text" class="form-control-sm" id="Description" name="Aciklama" style="width:860px; margin-left:63px;" />
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />

                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" id="FileName" value="Dosya Seç" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Dosya Tanımı</label>
                        <input type="text" class="form-control-sm" id="FileDescription" name="FileDescription" style="width:805px; margin-left:25px;" value="" />
                        <a id="AddList" onclick="DuzeltAddFileFunc()" class="btn btn-primary" style="background-color: #17a2b8; color:white; font-weight: bold; margin-left:15px; width:150px; height:36px;">Listeye Ekle</a>

                    </div>
                    <div class="form-group">
                        <table id="FileList" class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th style="width:30px;"></th>
                                    <th style="width:530px;">Dosya</th>
                                    <th style="width:530px;">Dosya Tanımı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr style="border-width:2.5px; color:darkgray;" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Talep Süreci</label>
                        <table class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th style="width:200px;">Zaman</th>
                                    <th style="width:200px;">İşlem Yapan</th>
                                    <th style="width:200px;">Yapılan İşlem</th>
                                    <th style="width:500px;">Açıklama/Yorum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="color: white; font-weight: bold; margin-right:880px;">Vazgeç</button>
                    <button id="Edit" type="submit" class="btn btn-success" style="color:white; font-weight: bold; margin-right:30px;">Kaydet</button>
                </div>
            }
        </div>
    </div>
</div>
