<div class="modal fade bd-fiyat-modal-lg" id="PriceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Birim Fiyat</label>
                        <input type="number" name="UnitPrice" class="form-control-sm" style="width: 300px; margin-left:85px;" />
                        <select style="width:150px;display:inline-block; margin-left:10px;" class="form-control" id="CurrencyIslem"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Toplam Fiyat</label>
                        <input type="text" name="TotalPrice" class="form-control-sm" style="width: 300px; margin-left:70px;" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tedarikçi</label>
                        <select style="width:460px; display: inline-block; margin-left:100px;" class="form-control" id="SupplierIslem"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Hedef Teslim Tarihi</label>
                        <input type="date" name="DeliveryDate" class="form-control-sm" style="width: 300px; margin-left:25px;" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="color: white; font-weight: bold; margin-right:380px;">Vazgeç</button>
                        <button id="Send" type="submit" class="btn btn-success" style="color:white; font-weight: bold; margin-right:475px;">Kaydet</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>