
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<style>
    .form-group {
        margin-bottom: 0.5rem;
    }
</style>

<partial name="_AddTopMenuPartialView" />

<ul id="liste" style="display:none;" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" ">
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                AVANSLAR
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                DİĞER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                FİNANSAL HİZMETLER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                HAYVANCILIK
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                HİZMETLER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                İNSAN KAYNAKLARI
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" onclick="Gizle();">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color: cornflowerblue;">
                MALZEME/EMTİA/DEMİRBAŞ
            </p>
        </a>
        <ul class="nav nav-treeview" id="altListe">
            <li class="nav-item">
                <button class="btn btn-link buttons-copy buttons-html5 nav-link" tabindex="0" aria-controls="example1" type="button" data-toggle="modal" data-target=".bd-talep-modal-lg">
                    <i class="far fa-file-archive nav-icon text-black"></i>
                    <p class="intime-text-turquoise" style="color:black;">MALZEME/EMTİA DEMİRBAŞ TALEBİ</p>
                </button>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                MASRAFLAR
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL DEPARTMANI ÖDEMELERİ
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL İZİN
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL ÖDEMELERİ
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                SEYAHAT TALEP FORMU
            </p>
        </a>
    </li>
</ul>

<div class="modal fade bd-talep-modal-lg" id="Request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Talep</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Talep Sahibi</label>
                        <select style="width:300px;display:inline-block; margin-left:43px;" class="form-control" id="Request" for="Regions">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Şirket</label>
                        <select style="width:300px;display:inline-block; margin-left:90px;" class="form-control" id="CompaniesTalep" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Departman</label>
                        <select style="width: 300px; display: inline-block; margin-left: 20px;" class="form-control" id="DepartmentTalep" for="Regions">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Lokasyon</label>
                        <select style="width: 300px; display: inline-block; margin-left:62px;" class="form-control" id="LocationTalep" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:145px;">Servis</label>
                        <select style="width: 300px; display: inline-block; margin-left:55px;" class="form-control" id="ServiceTalep" for="Regions">
                        </select>
                    </div>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" required="required">Masraf Merkezi</label>
                        <select style="width:300px;display:inline-block; margin-left:20px;" class="form-control" id="CostTalep" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Tipi</label>
                        <select style="width: 300px; display: inline-block; margin-left: 75px;" class="form-control" id="Type" for="Regions">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Projesi</label>
                        <select style="width: 300px; display: inline-block; margin-left:85px;" class="form-control" id="ProjectTalep" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:140px;">Teslim Yeri</label>
                        <input type="text" name="Delivery" class="form-control-sm" style="width: 300px; margin-left:25px;" />
                    </div>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ürün</label>
                        <select style="width: 400px; display: inline-block; margin-left:95px;" class="form-control" id="Product" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:45px;">Miktar </label>
                        <input type="text" class="form-control-sm" name="Amount" style="width:140px; margin-left:55px;" /> ,
                        <select style="width: 140px; display: inline-block; margin-left:5px;" class="form-control" id="Amount" for="Regions">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Birim Fiyat </label>
                        <input type="text" class="form-control-sm" name="Price" style="width:150px; margin-left:50px;" />
                        <select style="width: 150px; display: inline-block; margin-left:5px;" class="form-control" id="Price" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:135px;">Toplam Fiyat </label>
                        <input type="text" class="form-control-sm" name="TotalPrice" style="width:140px; margin-left:12px;" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Açıklama </label>
                        <input type="text" class="form-control-sm" name="Description" style="width:800px; margin-left:63px;" required />
                        <button type="submit" id="AddList" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; margin-left:10px; width:150px; height:38px;">Listeye Ekle</button>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="form-group">
                        <table class="table table-hover table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;  ">
                                <tr>
                                    <th style="width:30px;"></th>
                                    <th style="width:200px;">Ürün</th>
                                    <th style="width:150px;">Miktar</th>
                                    <th style="width:100px;">Birim</th>
                                    <th style="width:150px;">Birim Fiyat</th>
                                    <th style="width:50px;">Para Birimi</th>
                                    <th style="width:150px;">Toplam Fiyat</th>
                                    <th style="width:250px;">Açıklama</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button id="#" class="btn btn-danger">Sil</button></td>
                                    <td>a</td>
                                    <td>b</td>
                                    <td>c</td>
                                    <td>d</td>
                                    <td>e</td>
                                    <td>f</td>
                                    <td>g</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" class="file-selector-button" value="Dosya Seç" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Dosya Tanımı</label>
                        <input type="text" class="form-control-sm" name="File" style="width:805px; margin-left:25px;" value="" />
                        <button type="submit" id="AddList" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; margin-left:10px; width:150px; height:38px;">Listeye Ekle</button>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped table-bordered table-responsive dataTable dtr-inline" style="width:1100px;">
                            <thead style="background-color:burlywood; color:white;">
                                <tr>
                                    <th style="width:30px;"></th>
                                    <th style="width:535px;">Dosya</th>
                                    <th style="width:535px;">Dosya Tanımı</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button id="#" class="btn btn-danger">Sil</button></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Genel Açıklama</label>
                        <input type="text" class="form-control-sm" name="GeneralDescription" style="width:960px; margin-left:15px;" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" style="color: white; font-weight: bold; margin-right:880px;">Vazgeç</button>
                    <button id="save" type="submit" class="btn btn-success" style="color:white; font-weight: bold; margin-right:30px;">Kaydet</button>

                </div>
            }
        </div>
    </div>
</div>

<script src="~/TalepWeb/plugins/jquery/jquery.min.js"></script>
<script src="~/js/TalepDropDown.js"></script>

<script>
    function Goster(id) {
        var secilenID = document.getElementById(id);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
            $('#example1').hide();
            $('#example1_wrapper').hide();
        } else {
            secilenID.style.display = "none";
        }
    }

    function Gizle() {
        $("#altListe").hide();
    }
</script>

