
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<style>
    .form-group {
        margin-bottom: 0.5rem;
    }
</style>

<partial name="_AddTopMenuPartialView" />

<ul id="liste" style="display:none;" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" ">
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                AVANSLAR
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                DİĞER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                FİNANSAL HİZMETLER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                HAYVANCILIK
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                HİZMETLER
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                İNSAN KAYNAKLARI
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" onclick="Gizle();">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color: cornflowerblue;">
                MALZEME/EMTİA/DEMİRBAŞ
            </p>
        </a>
        <ul class="nav nav-treeview" id="altListe">
            <li class="nav-item">
                <button class="btn btn-link buttons-copy buttons-html5 nav-link" tabindex="0" aria-controls="example1" type="button" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <i class="far fa-file-archive nav-icon text-black"></i>
                    <p class="intime-text-turquoise" style="color:black;">MALZEME/EMTİA DEMİRBAŞ TALEBİ</p>
                </button>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                MASRAFLAR
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL DEPARTMANI ÖDEMELERİ
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL İZİN
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                PERSONEL ÖDEMELERİ
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-palette intime-text-turquoise" style="color:cornflowerblue;"></i>
            <p class="intime-text-turquoise" style="color:cornflowerblue;">
                SEYAHAT TALEP FORMU
            </p>
        </a>
    </li>
</ul>

<div class="modal fade bd-example-modal-lg" id="Request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ürün Talebi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddRequest", "Request", FormMethod.Post))
            {

                <div class="modal-body">
                    <div class="form-group required">
                        <label for="message-text" class="col-form-label" required="required">Şirket</label>
                        <select style="width:400px;display:inline-block; margin-left:10px;" class="form-control" name="Companies" id="Companies" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:30px;">Departman</label>
                        <select style="width: 400px; display: inline-block; margin-left: 10px;" class="form-control" name="Department" id="Department" for="Regions">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Bina</label>
                        <select style="width: 400px; display: inline-block; margin-left: 20px;" class="form-control" name="Location" id="Location" for="Regions">
                        </select>
                        <label for="message-text" class="col-form-label" style="margin-left:70px;">Servis</label>
                        <select style="width: 400px; display: inline-block; margin-left: 10px;" class="form-control" name="Service" id="Service" for="Regions">
                        </select>
                    </div>
                    <hr />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <button id="Choose" type="submit" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold; margin-top:10px;">Seç</button>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Kategori</label>
                        <label for="message-text" class="col-form-label" style="margin-left:550px;">Talep Gün Aralığı</label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Malzeme</label>
                        <label for="message-text" class="col-form-label" style="margin-left:550px;">Birim Fiyat</label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Min./Max. Talep Miktar</label>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Miktar: </label>
                        <input type="text" name="Amount" style="width:100px; margin-left:95px;" /> ,
                        <input type="text" name="AmountComma" style="width:100px;" />
                        <input type="text" name="AmountUnit" style="width:75px; background-color:orange; color:white;" disabled="disabled" value="ADET" />
                        <label for="message-text" class="col-form-label" style="margin-left:45px;">Dosya Ekle </label><br />
                        <input type="text" name="ChooseFile" style="width:230px; margin-left:500px;" />
                        <input type="file" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label" style="margin-left:5px;">Açıklama </label><br />
                        <textarea class="form-control" id="Description" name="Description" style="width:450px; height:50px; margin-left:5px;" required></textarea>
                    </div>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="form-group">
                        <button id="Add" type="submit" class="btn btn-primary" style="background-color: #17a2b8; font-weight:bold;">Listeye Ekle</button>
                        <button id="Edit" type="button" class="btn btn-primary" style="background-color: #17a2b8; font-weight:bold; margin-left: 900px;">Düzenle</button>
                        <br /><br />
                        <table class="table table-hover table-striped table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Malzeme/Emtia/Demirbaş Adı</th>
                                    <th>Miktar</th>
                                    <th>Birim</th>
                                    <th>Tahmini Birim Fiyatı</th>
                                    <th>Para Birimi</th>
                                    <th>Tahmini Toplam</th>
                                    <th>Kullanım Süresi</th>
                                    <th>Periyot</th>
                                    <th>Kategori</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><button class="btn btn-outline-light"><i class="fa fa-times text-red"></i></button></td>
                                    <td>a</td>
                                    <td>b</td>
                                    <td>c</td>
                                    <td>d</td>
                                    <td>e</td>
                                    <td>f</td>
                                    <td>g</td>
                                    <td>h</td>
                                    <td>u</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="complete" type="submit" class="btn btn-primary" style="background-color: #17a2b8; font-weight: bold;">Tamam</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" style="background-color: orange; color: white; font-weight: bold; margin-right: 475px;">Vazgeç</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/TalepWeb/plugins/jquery/jquery.min.js"></script>

<script>
    function Goster(id) {
        var secilenID = document.getElementById(id);
        if (secilenID.style.display == "none") {
            secilenID.style.display = "";
            $('#example1').hide();
            $('#example1_wrapper').hide();
        } else {
            secilenID.style.display = "none";
        }
    }

    function Gizle() {
        $("#altListe").hide();
    }
</script>

<script>
    //dropdownları doldurma
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Request/GetCompany",
            dataType: "json",
            success: function (response) {
                $("#Companies").empty().append('<option value="0"> Şirket Seçiniz </option>');
                for (let company of response) {
                    $("#Companies").append('<option value="' + company.Id + '"> ' + company.Name + ' </option>');
                }
            },
        });

        $('#Companies').change(function () {
            let CompanyId = $('#Companies option:selected').val();
            $.ajax({
                type: "POST",
                url: "../Request/GetService",
                data: { companyId: CompanyId },
                dataType: "json",
                success: function (response) {
                    $("#Service").removeAttr('disabled');
                    $("#Service").empty().append('<option value="0"> Servis Seçiniz </option>');

                    for (let service of response) {
                        $("#Service").append('<option value="' + service.Id + '"> ' + service.BranchName + ' </option>');
                    }
                },
            });
        });
    });
</script>